@import "tailwindcss";

@theme {
  /* --- Fond de l'application --- */
  --color-dj-bg: #F9FAF6;
  --color-dj-green-50: #EEF3EC;
  --color-dj-green-100: #DCE7D5;
  --color-dj-green-600: #4A7055;
  --color-dj-green-800: #2F5233;
  --color-dj-green-950: #1A2E1D;
  --color-dj-terra-100: #F6D6CD;
  --color-dj-terra-500: #E07A5F;
  --color-dj-terra-700: #B55A42;
}

@layer {
  * {
    font-family: "3ds", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.8px;
  }

  h2 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  h4 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

  body {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}
